.addmovieCon {
    width: 100%;
    min-height: 90vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 1em;
}

.postform {
    width: 20em;
    height: 25em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
}

.textFeild,
.dateFeild,
.rating,
.ProducerEditFeild,
.ratingEditFeild,
.actorEditFeild {
    width: 18em;
    height: 2.5em;
    text-indent: 2px;

}

.ProducerFeild {
    display: flex;
    width: 12em;
    height: 2.5em;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.actorCon {
    display: flex;
    width: 15em;
    height: 2.5em;
    gap: 1em;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.actorFeild {
    width: 12em;
    height: 2.5em;
    text-indent: 2px;

}

.addBtn {
    width: 5em;
    height: 2.5em;
    cursor: pointer;
    background-color: rgb(73, 73, 216);
    color: #fff;
}

.dateFeild {
    cursor: pointer;
}



.imgsecpost {
    width: 15em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.faImg {
    width: 2em !important;
    height: 2em !important;
    cursor: pointer;
}

.postBtn {
    width: 18em;
    background-color: #F5C518 !important;
    color: black !important;
    font-weight: 700;
}

.cusTogglerCon {
    width: 16em;
    height: 18em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-radius: .5rem;
    position: absolute;
    /* right: 8em; */
    top: 13em;
    background-color: #F5C518;
    box-shadow: 0, 0.1em, 1em black;
    z-index: 1;
}

.cusTogglerCon>select {
    width: 12em;
    height: 2em;
    text-indent: .5em;
}

.crossIcon {
    position: relative;
    right: -4.5em;
    top: -.8em;
}

.addInput {
    height: 2em;
    text-indent: 1em;
}

.errorMsg {
    background-color: #fff;
    width: 20em;
    height: 14em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    align-items: center;
    border-radius: .4em;
    border-style: solid;
    border-width: 1px;
    color: red;
    border-color: rgb(199, 101, 101) !important;
    box-shadow: inset rgb(205, 78, 78) 0px 0px 10px 1px;

}

.errormsgCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .2em;
    color: black;
}

@media(max-width:1441px) {
    .cusTogglerCon {
        top: 20em
    }
}

@media(max-width:1025px) {
    .addmovieCon {
        width: 1060px;
        height: auto;
        min-height: 100vh;
    }
}

@media(max-width:769px) {
    .addmovieCon {
        width: 790px;
        height: auto;
        min-height: 100vh;
    }
}

@media(max-width:426px) {
    .addmovieCon {
        width: 790px;
        height: auto;
        min-height: 100vh;
    }
}

@media(max-width:376px) {
    .addmovieCon {
        width: 790px;
        height: auto;
        min-height: 100vh;
    }
}

@media(max-width:321px) {
    .addmovieCon {
        width: 720px;
        height: auto;
        min-height: 100vh;
    }
}

@media(min-width:2400px) {
    .postform {
        width: 40em;
        height: 50em;
    }

    .textFeild,
    .dateFeild,
    .ProducerEditFeild,
    .ratingEditFeild,
    .actorEditFeild {
        width: 28em;
        height: 4em;
        text-indent: 2px;
    }

    .rating {
        width: 28em;
        height: 4em;
    }

    .ProducerFeild {
        width: 18em;
        height: 3.5em;
    }

    .actorCon {
        width: 25em;
        height: 4em;
    }

    .actorFeild {
        width: 18em;
        height: 3.5em;
    }

    .addBtn {
        width: 5em;
        height: 3.5em;
        cursor: pointer;
        background-color: rgb(73, 73, 216);
        color: #fff;
    }

    .dateFeild {
        cursor: pointer;
    }

    .imgsecpost {
        width: 24em;
        height: 3em;
    }

    .faImg {
        width: 2.5em !important;
        height: 2.5em !important;
        cursor: pointer;
    }

    .postBtn {
        width: 13em;
        height: 3em;
        font-size: 1.5em !important;
    }

    .cusTogglerCon {
        width: 28em;
        height: 15em;
        justify-content: space-around;
    }

    .crossIcon {
        position: relative;
        right: -12em;
        top: -.1em;
        width: 2em !important;
        height: 2em !important;

    }

    .addInput {
        height: 2em;
    }

    .errorMsg {
        width: 20em;
        height: 20em;
        font-size: 2em;
    }

    .cusTogglerCon {
        height: 30em;
        top: 45em;
    }

    .crossIcon {
        right: -7em;
        top: 0em;
    }
}